[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "~=5.0.1"
pretty-errors = "*"
"flake8" = "*"
rope = "*"

[requires]
python_version = "3.7"
